$navBackground: #868a86;
$navHeight: 50px;

.navBar {
    position: relative;
    display: flex;
    flex-direction: row;
    align-content: start;
}

.navExtra {
    height: $navHeight;
    fill: $navBackground;
}

.navContainer {
    background: $navBackground;
    display: flex;
}

.navButton {
    background: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    height: $navHeight;
    padding: 0 8px;
    display: flex;
    text-decoration: none;

    > span {
        margin: auto;
        flex: 1;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.1);

        &:active {
            background: rgba(255, 255, 255, 0.5);
        }
    }
}
